.back{
   background-color: rgb(24, 135, 179);
   height: 700px;
   padding-top: 5%;
}
.top{
    color: rgb(24, 23, 23);
    padding-left: 38%;
    }
.middle{
    background-color: rgb(238, 190, 85);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 38%;
    
}
.Footer{
    color: white;
    padding-left: 33%;
}
